.component {
  background-color: #ffffff;
  background-image: url(../../../static/img/pexels-pixabay-164522-1-14.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
  box-shadow: -10px 13px 10px #00000080;
  height: 349px;
  width: 550px;
}

.component .overlap-group {
  height: 128px;
  position: relative;
  top: 230px;
}

.component .rectangle {
  background-color: #ffffff40;
  border-radius: 0px 0px 20px 20px;
  height: 119px;
  left: 0;
  position: absolute;
  top: 0;
  width: 550px;
}

.component .text-wrapper {
  color: #000000;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 453px;
}

.component .div {
  color: #000000;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 36px;
  width: 453px;
}

.component .text-wrapper-2 {
  color: #000000;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 56px;
  width: 453px;
}

.component .text-wrapper-3 {
  color: #000000;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 77px;
  width: 453px;
}

.component .text-wrapper-4 {
  color: #000000;
  font-family: "Futura Hv BT-Heavy", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 99px;
  width: 453px;
}
