:root {
  --collection-1-blu: rgba(64, 79, 129, 1);
  --collection-1-blu-2: rgba(22, 47, 132, 1);
  --collection-1-color: rgba(88, 123, 127, 1);
  --collection-1-color-2: rgba(226, 192, 68, 1);
  --collection-1-color-3: rgba(30, 32, 25, 1);
  --collection-1-color-4: rgba(241, 241, 241, 1);
  --collection-1-color-5: rgba(117, 117, 117, 1);
  --collection-1-ylw: rgba(248, 208, 66, 1);
}
